- name: Hapus DHCP lama
  community.routeros.command:
    commands:
      - /ip dhcp-server remove [find interface={{ item.interface }}]
  loop: "{{ dhcp_servers }}"
  ignore_errors: yes

- name: Hapus IP Pool lama
  community.routeros.command:
    commands:
      - /ip pool remove [find name={{ item.pool_name }}]
  loop: "{{ dhcp_servers }}"
  ignore_errors: yes

- name: Buat IP Pool DHCP
  community.routeros.command:
    commands:
      - /ip pool add name={{ item.pool_name }} ranges={{ item.pool_range }}
  loop: "{{ dhcp_servers }}"

- name: Buat DHCP Network
  community.routeros.command:
    commands:
      - /ip dhcp-server network add address={{ item.network }} gateway={{ item.gateway }} dns-server={{ item.dns }}
  loop: "{{ dhcp_servers }}"

- name: Buat DHCP Server
  community.routeros.command:
    commands:
      - /ip dhcp-server add name=dhcp-{{ item.interface }} interface={{ item.interface }} address-pool={{ item.pool_name }} disabled=no
  loop: "{{ dhcp_servers }}"


# Membersihkan konfigurasi DHCP lama
# Membuat DHCP Pool baru
# Mengaktifkan DHCP Server
