- name: Ensure DHCP Server Disabled
  community.routeros.command:
    commands:
      - /ip dhcp-server disable [find interface={{ item.interface }}]
  loop: "{{ dhcp_servers }}"
  ignore_errors: yes

- name: Remove existing IP Pool
  community.routeros.command:
    commands:
      - /ip pool remove [find name={{ item.pool_name }}]
  loop: "{{ dhcp_servers }}"
  ignore_errors: yes

- name: Create IP Pool
  community.routeros.command:
    commands:
      - /ip pool add name={{ item.pool_name }} ranges={{ item.pool_range }}
  loop: "{{ dhcp_servers }}"

- name: Configure DHCP Network
  community.routeros.command:
    commands:
      - /ip dhcp-server network add address={{ item.network }} gateway={{ item.gateway }} dns-server={{ item.dns }}
  loop: "{{ dhcp_servers }}"

- name: Enable DHCP Server
  community.routeros.command:
    commands:
      - /ip dhcp-server enable [find interface={{ item.interface }}]
  loop: "{{ dhcp_servers }}"
