---

- name: Validate DHCP pool format
  ansible.builtin.assert:
    that:
      - item.pool_range is match("^(?:[0-9]{1,3}\.){3}[0-9]{1,3}-(?:[0-9]{1,3}\.){3}[0-9]{1,3}$")
  loop: "{{ dhcp_servers }}"

- name: Disable DHCP server
  community.routeros.command:
    commands:
      - /ip dhcp-server disable [find name={{ item.name }}]
  loop: "{{ dhcp_servers }}"
  ignore_errors: true

- name: Remove DHCP server
  community.routeros.command:
    commands:
      - /ip dhcp-server remove [find name={{ item.name }}]
  loop: "{{ dhcp_servers }}"
  ignore_errors: true

- name: Remove old pool
  community.routeros.command:
    commands:
      - /ip pool remove [find name={{ item.name }}]
  loop: "{{ dhcp_servers }}"
  ignore_errors: true

- name: Create pool
  community.routeros.command:
    commands:
      - /ip pool add name={{ item.name }} ranges={{ item.pool_range }}
  loop: "{{ dhcp_servers }}"

- name: Create DHCP server
  community.routeros.command:
    commands:
      - /ip dhcp-server add name={{ item.name }} interface={{ item.interface }} address-pool={{ item.name }} disabled=no
  loop: "{{ dhcp_servers }}"
  ignore_errors: true

- name: Remove network
  community.routeros.command:
    commands:
      - /ip dhcp-server network remove [find gateway={{ item.gateway }}]
  loop: "{{ dhcp_servers }}"
  ignore_errors: true

- name: Create network
  community.routeros.command:
    commands:
      - /ip dhcp-server network add address={{ item.network }} gateway={{ item.gateway }} dns-server={{ item.dns }}
  loop: "{{ dhcp_servers }}"
