---
- name: Pre Deployment Validation
  hosts: mikrotik
  gather_facts: no

  vars_files:
    - ../group_vars/mikrotik.yml

  tasks:

    - name: Validate Router IP
      assert:
        that:
          - router_ip | ipaddr
        fail_msg: "Router IP tidak valid"

    - name: Validate DHCP Start
      assert:
        that:
          - dhcp_pool_start | ipaddr
        fail_msg: "DHCP start IP tidak valid"

    - name: Validate DHCP End
      assert:
        that:
          - dhcp_pool_end | ipaddr
        fail_msg: "DHCP end IP tidak valid"

    - name: Validate DHCP subnet consistency
      assert:
        that:
          - router_ip | ipaddr('network') == dhcp_pool_start | ipaddr('network')
        fail_msg: "DHCP range tidak satu subnet dengan router"
