---
- name: Pre Deployment Validation
  hosts: mikrotik
  gather_facts: no
  collections:
    - ansible.utils

  vars_files:
    - ../group_vars/mikrotik.yml

  tasks:

    - name: Validate Router IP
      assert:
        that:
          - router_ip | ansible.utils.ipaddr
        fail_msg: "Router IP tidak valid"

    - name: Validate DHCP Start
      assert:
        that:
          - dhcp_pool_start | ansible.utils.ipaddr
        fail_msg: "DHCP start IP tidak valid"

    - name: Validate DHCP End
      assert:
        that:
          - dhcp_pool_end | ansible.utils.ipaddr
        fail_msg: "DHCP end IP tidak valid"

    - name: Validate DHCP subnet consistency
      assert:
        that:
          - router_ip | ansible.utils.ipaddr('network') ==
            dhcp_pool_start | ansible.utils.ipaddr('network')
        fail_msg: "DHCP range tidak satu subnet dengan router"

- name: Deploy MikroTik Configuration
  hosts: mikrotik
  gather_facts: no

  roles:
    - ip_address
    - dhcp
