---

- name: Safe Deploy MikroTik Configuration
  hosts: mikrotik
  gather_facts: false

  vars:
    backup_name: "backup-{{ lookup('pipe', 'date +%Y%m%d-%H%M%S') }}"

  tasks:

    - name: Create backup
      community.routeros.command:
        commands:
          - /export file={{ backup_name }}

    - name: Deploy configuration
      block:

        - name: Deploy IP Address
          ansible.builtin.include_role:
            name: ip_address

        - name: Deploy DHCP
          ansible.builtin.include_role:
            name: dhcp

        - name: Run verification
          ansible.builtin.include_role:
            name: verify


  rescue:

     - name: Rollback configuration
       community.routeros.command:
          commands:
            - /import file={{ backup_name }}.rsc

     - name: Fail deployment
       ansible.builtin.fail:
         msg: "Deployment failed, rollback executed"
       when: not ansible_check_mode
