- name: Deploy Konfigurasi MikroTik
  hosts: mikrotik
  gather_facts: no
  connection: network_cli

  roles:
    - ip_address
    - dhcp

# Playbook utama untuk deploy konfigurasi jaringan ke MikroTik
# Menggunakan role agar modular dan mudah dikembangkan
