---
- name: Pre Deployment Validation
  hosts: localhost
  gather_facts: false
  vars_files:
    - ../group_vars/mikrotik.yml

  tasks:

    - name: Validate interface IP format
      ansible.builtin.assert:
        that:
          - item.address is match("^(?:[0-9]{1,3}\.){3}[0-9]{1,3}/[0-9]{1,2}$")
      loop: "{{ ip_interfaces }}"

    - name: Validate DHCP pool range format
      ansible.builtin.assert:
        that:
          - item.pool_range is match("^(?:[0-9]{1,3}\.){3}[0-9]{1,3}-(?:[0-9]{1,3}\.){3}[0-9]{1,3}$")
      loop: "{{ dhcp_servers }}"

- name: Backup and Deploy MikroTik Configuration
  hosts: mikrotik
  gather_facts: false

  tasks:

    - name: Check MikroTik Connectivity
      ansible.builtin.wait_for:
        host: "{{ ansible_host }}"
        port: 22
        timeout: 5

    - name: Backup MikroTik Configuration
      community.routeros.command:
        commands:
          - /export file=backup-before-ci

  roles:
    - ip_address
    - dhcp
