---
# =========================
# PLAY 1 - BACKUP AND DEPLOY
# =========================

- name: Safe Deploy MikroTik Configuration
  hosts: mikrotik
  gather_facts: false

  vars:
    backup_name: "backup-{{ lookup('pipe', 'date +%Y%m%d-%H%M%S') }}"

  tasks:

    - name: Create MikroTik backup
      community.routeros.command:
        commands:
          - "/export file={{ backup_name }}"


    - name: Deploy and Verify Configuration
      block:

        - name: Deploy IP Address Role
          ansible.builtin.include_role:
            name: ip_address


        - name: Deploy DHCP Role
          ansible.builtin.include_role:
            name: dhcp


        - name: Run verification playbook
          ansible.builtin.command:
            cmd: ansible-playbook playbooks/verify.yml
          register: verify_result
          changed_when: false
          failed_when: verify_result.rc != 0


      rescue:

        - name: Rollback MikroTik configuration
          community.routeros.command:
            commands:
              - "/import file={{ backup_name }}.rsc"


        - name: Fail deployment after rollback
          ansible.builtin.fail:
            msg: "Deployment failed. Rollback executed."


      always:

        - name: Show deployment completion message
          ansible.builtin.debug:
            msg: "Safe deployment process finished"
