---
- name: Pre Deployment Validation
  hosts: mikrotik
  gather_facts: no

  vars_files:
    - ../group_vars/mikrotik.yml

  tasks:

    - name: Validate Router IP format
      assert:
        that:
          - router_ip is match("^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$")
        fail_msg: "Router IP tidak valid"

    - name: Validate DHCP Start format
      assert:
        that:
          - dhcp_pool_start is match("^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$")
        fail_msg: "DHCP start IP tidak valid"

    - name: Validate DHCP End format
      assert:
        that:
          - dhcp_pool_end is match("^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$")
        fail_msg: "DHCP end IP tidak valid"

    - name: Validate DHCP range not equal
      assert:
        that:
          - dhcp_pool_start != dhcp_pool_end
        fail_msg: "DHCP start dan end tidak boleh sama"

- name: Deploy MikroTik Configuration
  hosts: mikrotik
  gather_facts: no

  roles:
    - ip_address
    - dhcp
