---
- name: Post Deployment Verification
  hosts: mikrotik
  gather_facts: false

  tasks:

    - name: Get IP Address List
      community.routeros.command:
        commands:
          - /ip address print
      register: ip_output

    - name: Verify all configured interface IPs exist
      ansible.builtin.assert:
        that:
          - ip_output.stdout | join(' ') is search(item.address.split('/')[0])
        fail_msg: "IP {{ item.address }} tidak ditemukan di router!"
      loop: "{{ ip_interfaces }}"

    - name: Get DHCP Server Status
      community.routeros.command:
        commands:
          - /ip dhcp-server print
      register: dhcp_output

    - name: Verify DHCP server exists for each interface
      ansible.builtin.assert:
        that:
          - dhcp_output.stdout | join(' ') is search(item.interface)
        fail_msg: "DHCP untuk interface {{ item.interface }} tidak ditemukan!"
      loop: "{{ dhcp_servers }}"

