---
- name: Post Deployment Verification
  hosts: mikrotik
  gather_facts: false

  tasks:

    - name: Get IP Address List
      community.routeros.command:
        commands:
          - /ip address print
      register: ip_output

    - name: Verify Edge Network IP Exists
      ansible.builtin.assert:
        that:
          - ip_output.stdout | join(' ') is search("192\.172\.17\.1")
        fail_msg: "Edge network IP tidak ditemukan!"

    - name: Verify Cloud Network IP Exists
      ansible.builtin.assert:
        that:
          - ip_output.stdout | join(' ') is search("192\.168\.40\.1")
        fail_msg: "Cloud network IP tidak ditemukan!"

    - name: Get DHCP Server Status
      community.routeros.command:
        commands:
          - /ip dhcp-server print
      register: dhcp_output

    - name: Verify DHCP Server Running
      ansible.builtin.assert:
        that:
          - dhcp_output.stdout | join(' ') is search("running")
        fail_msg: "DHCP Server tidak running!"
