---
- name: Post Deployment Verification
  hosts: mikrotik
  gather_facts: false

  tasks:

    - name: Get IP Address List
      community.routeros.command:
        commands:
          - /ip address print
      register: ip_output


    - name: Verify all configured interface IPs exist
      ansible.builtin.assert:
        that:
          - item.address in ip_output.stdout | join(' ')
        fail_msg: "IP {{ item.address }} tidak ditemukan!"
        success_msg: "IP {{ item.address }} ditemukan"
      loop: "{{ ip_interfaces }}"


    - name: Get DHCP Server Status
      community.routeros.command:
        commands:
          - /ip dhcp-server print
      register: dhcp_output


    - name: Verify DHCP server exists for each interface
      ansible.builtin.assert:
        that:
          - item.interface in dhcp_output.stdout | join(' ')
        fail_msg: "DHCP pada interface {{ item.interface }} tidak ditemukan!"
        success_msg: "DHCP pada interface {{ item.interface }} ditemukan"
      loop: "{{ dhcp_servers }}"
