- name: Configure IP address on interface
  community.routeros.command:
    commands:
      - /ip address set [find interface={{ item.interface }}] address={{ item.address }}
  loop: "{{ ip_interfaces }}"
