[defaults]

# Inventory
inventory = inventories/production/hosts.ini

# Roles
roles_path = roles

# Connection Behavior
host_key_checking = False
timeout = 30

# Execution Behavior
retry_files_enabled = False
interpreter_python = auto_silent
