- name: DHCP Reservation Edge IoT via CI/CD
  hosts: mikrotik
  gather_facts: no
  connection: network_cli

  tasks:
    - name: Debug edge_devices (HARUS MUNCUL)
      debug:
        var: edge_devices

    - name: Make DHCP lease static
      community.routeros.command:
        commands:
          - >
            /ip dhcp-server lease make-static
            [find mac-address={{ item.mac }}]
      loop: "{{ edge_devices }}"

    - name: Set DHCP reservation IP
      community.routeros.command:
        commands:
          - >
            /ip dhcp-server lease set
            [find mac-address={{ item.mac }}]
            address={{ item.ip }}
            comment="{{ item.comment }}"
      loop: "{{ edge_devices }}"

    - name: Renew DHCP (reset interface ether2)
      community.routeros.command:
        commands:
          - /interface disable ether2
          - /interface enable ether2
