- name: Ubah DHCP Reservation Edge IoT
  hosts: mikrotik
  gather_facts: no
  connection: network_cli

  tasks:
    - name: Hapus lease lama Edge-01 (jika ada)
      community.routeros.command:
        commands:
          - >
            /ip dhcp-server lease remove
            [find mac-address=08:00:27:23:4d:43]

    - name: Buat DHCP reservation baru Edge-01
      community.routeros.command:
        commands:
          - >
            /ip dhcp-server lease add
            mac-address=08:00:27:23:4d:43
            address=172.168.10.50
            comment="Edge-01 via CI/CD"
