---
- name: DHCP Reservation Edge IoT via CI/CD
  hosts: mikrotik
  gather_facts: no
  connection: network_cli

  vars_files:
    - ansible/vars/edge_devices.yml

  tasks:

    - name: Debug edge_devices (validasi variabel)
      debug:
        var: edge_devices

    - name: Pastikan DHCP lease menjadi static
      community.routeros.command:
        commands:
          - >
            /ip dhcp-server lease make-static
            [find mac-address={{ item.mac }}]
      loop: "{{ edge_devices }}"

    - name: Set IP DHCP reservation
      community.routeros.command:
        commands:
          - >
            /ip dhcp-server lease set
            [find mac-address={{ item.mac }}]
            address={{ item.ip }}
            comment="{{ item.comment }}"
      loop: "{{ edge_devices }}"

    - name: Reset interface agar DHCP renew
      community.routeros.command:
        commands:
          - /interface disable ether2
          - /interface enable ether2
