- name: Ubah DHCP Reservation Edge IoT
  hosts: mikrotik
  gather_facts: no
  connection: network_cli

  tasks:
    - name: Update IP DHCP static lease Edge-01
      community.routeros.command:
        commands:
          - >
            /ip dhcp-server lease set
            [find mac-address=08:00:27:23:4d:43]
            address=172.168.10.50
            comment="Edge-01 via CI/CD"
