name: CI - Check MikroTik Config

on:
  pull_request:

jobs:
  check:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Run Ansible Check
        run: ansible-playbook ansible/playbooks/check.yml
