name: CD Deploy MikroTik

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Deploy Configuration
        run: ansible-playbook -i ansible/inventory.ini ansible/playbooks/deploy.yml
