name: CD Deploy MikroTik

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          pip install --user yamllint
          ansible-galaxy collection install community.routeros

      - name: Deploy Configuration
        run: |
          cd ansible
          ansible-playbook playbooks/deploy.yml

      - name: Verify Deployment
        run: |
          cd ansible
          ansible-playbook playbooks/verify.yml
