name: Deploy DHCP Reservation

on:
  push:
    paths:
      - "ansible/**"

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Ansible & dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible ansible-pylibssh
          ansible-galaxy collection install community.routeros

      - name: Run DHCP Reservation Playbook
        run: |
          ansible-playbook -i ansible/inventory.ini ansible/dhcp_reservation.yml
