name: Deploy DHCP Reservation

on:
  push:
    paths:
      - "ansible/**"

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Ansible & dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible ansible-pylibssh
          ansible-galaxy collection install community.routeros

      - name: Run Network Deployment
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
          ANSIBLE_SSH_ARGS: "-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
        run: |
          cd ansible
          ansible-playbook -i inventory.ini deploy.yml
