name: CI/CD MikroTik Network Automation

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Ansible & dependencies
        run: |
          pip install ansible paramiko ansible-pylibssh
          ansible-galaxy collection install community.routeros

      - name: Setup SSH key
        run: |
          mkdir -p /home/runner/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > /home/runner/.ssh/id_rsa
          chmod 600 /home/runner/.ssh/id_rsa
          ssh-keyscan -H 192.168.115.30 >> /home/runner/.ssh/known_hosts

