name: CD Deploy MikroTik

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Deploy Configuration
        run: |
          cd ansible
          ansible-playbook playbooks/deploy.yml
