name: CD - Deploy MikroTik Config

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Deploy Configuration
        run: ansible-playbook ansible/playbooks/deploy.yml
